
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutDT.cshtml";
}

<div class="container">
    <div style="text-align:center">
        <h5>Đơn hàng đã được ghi nhận.</h5>
        <h5>Cảm ơn quí khách đã đặt hàng</h5>
        <h5>@Html.ActionLink("Về trang chủ", "Index", "Home")</h5>
    </div>
</div>


